body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.infinite-scroll-component {
  overflow: hidden !important;
}

.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  height: 50px;
  width: 50px;
  padding-bottom: 10px;
  font-size: 45px;
  background: #212529;
  color: white;
  cursor: pointer;
  border-radius: 50%;
  border: none;
  display: flex;
  box-shadow: 0 5px 10px #ccc;
  justify-content: center;
  align-items: center;
}

.back-to-top:hover {
  background: #212529cf;
}