body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

.infinite-scroll-component {
  overflow: hidden !important;
}

/* ScrollToTopBtn Component */
.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  height: 50px;
  width: 50px;
  padding-bottom: 10px;
  font-size: 45px;
  background: #212529;
  color: white;
  cursor: pointer;
  border-radius: 50%;
  border: none;
  display: flex;
  /* box-shadow: 0 5px 10px #ccc; */
  box-shadow: 0px 2px 6px 1px #ccc;
  justify-content: center;
  align-items: center;
  z-index: 5;
}

.back-to-top:hover {
  background: #212529cf;
}

/* Image Component */
.emoji {
  height: 500px;
  width: fit-content;
}

.showError {
  margin: 37px 0px;
  margin-top: -54px;
}

@media only screen and (max-width:505px) {
  .emoji {
    height: 400px;
  }

  .showError {
    margin-top: -40px;
  }
}

@media only screen and (max-width:400px) {
  .emoji {
    height: 300px;
  }

  .showError {
    margin-top: -37px;
  }
}

@media only screen and (max-width:300px) {
  .emoji {
    height: 290px;
  }

  .showError {
    margin-top: -35px;
  }
}

/* News Component */
.somethingwentwrong {
  display: grid;
  gap: 1rem;
  margin: 2rem;
}

.somethingwentwrong details {
  cursor: pointer;
  font-size: 1rem;
}

/* Footer Component */
footer {
  width: 100%;
  display: flex;
  justify-content: center;
  background: hsl(210deg 11% 15%);
  color: white;
  text-align: center;
  border: 2px solid white;
  border-left: none;
  border-right: none;
  border-bottom: none;
  padding: 1rem 20px;
  position: relative;
  bottom: 0px;
}

#links-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin: 10px auto;
}

.footer-links {
  border: 1px white solid;
  border-radius: 50%;
  background: #675f50;
  padding: 1px;
  height: 40px;
  width: 40px;
}

.footer-links:hover {
  transition: all ease-out 0.2s;
  cursor: pointer;
  background: white;
}

.copyright {
  line-height: 2;
}

#symbol {
  color: red;
  all: unset;
}